
@{
    ViewBag.Title = "FeedBack";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Thanks for the Feed Back or Sugesstion </h1>

            <h3 class="nav-link"> @Html.ActionLink("Back to Main Site  ", "Index", "Home")</h3>
        </div>


    </div>

</div>

