@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="services">
        <div class="container">
            <div class="row m-0">
                <div class="col-sm-12 p-0">
                    <div id="heading">
                        <h1>Services</h1>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="service_box">
                        <div class="icon">
                            <span><i class="fas fa-user-tie"></i></span>
                        </div>
                        <div class="service_name">
                            <h3>Qualified Staff</h3>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="service_box">
                        <div class="icon">
                            <span><i class="fas fa-chalkboard-teacher"></i></span>
                        </div>
                        <div class="service_name">
                            <h3>Smart Classes</h3>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <div class="service_box">
                        <div class="icon">
                            <span><i class="fas fa-laptop-code"></i></span>
                        </div>
                        <div class="service_name">
                            <h3>ELearing</h3>
                        </div>
                        <div class="service_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="about_school">
        <div class="container">
            <div class="row m-0">

                <div class="col-sm-12 col-md-4 p-0">
                    <div class="school_img">
                        <img src="~/images/home-banner.jpg" />
                    </div>
                </div>

                <div class="col-sm-12 col-md-8">
                    <div class="vision_mission">
                        <h3>Vision & Mission</h3>
                        <p>
                            Our aim is to make the institute a centre of excellence where we all are fully engaged educationally and emotionally to make the students capable by developing their virtues and moral values. We inspire our students towards noble aims which will help them to become self responsible, a good human being who believe in God, honesty, transparency also respect their parents, teachers, elders and Nation considering Duty, Discipline, Character and Fitness as the main traits.
                        </p>
                    </div>
                    <div class="teaching_diff">
                        <h3>Teaching With a Difference</h3>
                        <p>
                            We have an international training program for teachers to deal with the child with absolute sensitivity, with precise knowledge of what to do and most vitally when to do. At ss bajwa  Nursery School we understand the childs stages of development, the pace they require and when to let go and wait for natural miracles to express themselves. The child is the most precious and valuable gift for our lives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
